article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'gothamBook';
  src: url('../fonts/GothamBook.eot');
  src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBook.woff2') format('woff2'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype'), url('../fonts/GothamBook.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamBookItalic';
  src: url('../fonts/GothamBookItalic.eot');
  src: url('../fonts/GothamBookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBookItalic.woff2') format('woff2'), url('../fonts/GothamBookItalic.woff') format('woff'), url('../fonts/GothamBookItalic.ttf') format('truetype'), url('../fonts/GothamBookItalic.svg#gotham_bookitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamMedium';
  src: url('../fonts/GothamMedium.eot');
  src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamMedium.woff2') format('woff2'), url('../fonts/GothamMedium.woff') format('woff'), url('../fonts/GothamMedium.ttf') format('truetype'), url('../fonts/GothamMedium.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamBold';
  src: url('../fonts/GothamBold.eot');
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBold.woff2') format('woff2'), url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf') format('truetype'), url('../fonts/GothamBold.svg#gotham_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wisembly';
  src: url('../fonts/wisembly.eot');
  src: url('../fonts/wisembly.eot?#iefix') format('embedded-opentype'), url('../fonts/wisembly.woff') format('woff'), url('../fonts/wisembly.ttf') format('truetype'), url('../fonts/wisembly.svg#wisembly') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
.fontIcon {
  font-family: 'wisembly';
  speak: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-quote:before {
  content: "\e600";
}
html,
button,
input,
select,
textarea {
  font-size: 100%;
  color: #3a434c;
}
/* @group Mes styles */
/* @group General */
/* selection */
::-moz-selection {
  background: #3a434c;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #3a434c;
  color: #ffffff;
  text-shadow: none;
}
body {
  font-family: 'gothamBook', sans-serif;
  font-weight: normal;
  font-size: 0.95em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3 {
  font-family: 'gothamMedium', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 2.5em;
  line-height: 26px;
  color: #46b489;
  margin: 1.6em 0;
}
h2,
h3 {
  line-height: 24px;
}
h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  color: #17698d;
  margin-top: 4em;
}
h3 {
  color: #4e4e4e;
}
a {
  border-bottom: 1px solid rgba(40, 155, 196, 0.3);
  color: #289bc4;
  text-decoration: none;
  outline: 0;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
a:hover,
a:focus {
  color: #06698d;
  border-color: rgba(6, 105, 141, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
a:active {
  color: #04455c;
  border-color: rgba(4, 69, 92, 0.3);
}
p {
  margin: 2em 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  position: relative;
  padding: 0 0 0 10px;
}
li:before {
  content: '•';
  position: absolute;
  left: 0;
  color: #e25c5b;
}
strong,
b {
  font-family: 'gothamBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
em,
i,
blockquote {
  font-family: 'gothamBookItalic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
blockquote {
  position: relative;
  padding: 25px 20px;
  margin: 0 0 0 -25px;
  border: 2px solid #ebeeef;
  text-indent: 30px;
  line-height: 20px;
}
blockquote:before {
  font-family: 'wisembly';
  speak: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e600';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #e25c5b;
  text-indent: 0;
}
.content {
  width: 100%;
  max-width: 1120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.content.simple {
  padding-right: 185px;
}
header ul,
header li,
header p,
header form a {
  display: inline-block;
}
header li:before {
  display: none;
}
header a {
  border: 0;
}
.topHeader {
  background: #06698d;
  color: #ffffff;
}
.topHeader a {
  color: #ffffff;
}
/* @end */
/* @group Non semantic Boilerplate */
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* @group Responsive horizontal */
/* @end */
/*  @group retina */
/* @end */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
