.fontIcon {
  font-family: 'wisembly';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2,
.h2,
h3,
.h3,
h4 {
  font-weight: 500;
}
h2,
.h2 {
  color: #959595;
  text-transform: uppercase;
  font-size: .95em;
}
h3,
.h3,
h4 {
  color: #1c698d;
}
h3,
.h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.05em;
}
#container {
  margin: 0 0 0 310px;
}
/* HEADER */
#header {
  background: #07394d;
  width: 310px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  padding: 30px 55px;
  box-sizing: border-box;
}
#logo {
  width: 200px;
  height: 55px;
  background: url(../layoutImg/success/logo.png) no-repeat;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 auto 100px;
  border: 0;
}
.menuSuccess li {
  padding: 0;
}
.menuSuccess li:before {
  display: none;
}
.menuSuccess .hasSubMenu {
  margin: 0 0 30px;
}
.menuSuccess .hasSubMenu > a {
  margin: 0 0 5px;
  text-transform: uppercase;
  color: #289bc4;
}
.menuSuccess a {
  color: #fff;
  display: inline-block;
  border: 0;
  font-weight: 500;
}
#connectHeader {
  background: #0d5c7b;
  padding: 27px 35px;
  position: relative;
  z-index: 1;
}
.secondMenu {
  float: right;
}
#searchform {
  width: 250px;
  display: inline-block;
  position: relative;
}
#searchform input {
  box-sizing: border-box;
  border-radius: 20px;
}
#search {
  font-family: 'wisembly';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}
.connectMenu {
  display: inline-block;
}
.connectMenu li {
  display: inline-block;
  padding: 0;
}
.connectMenu li:before {
  display: none;
}
.connectMenu a {
  color: #fff;
  display: inline-block;
  border-color: #fff;
  font-size: .95em;
}
.lang {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.lang li {
  display: inline-block;
  padding: 0;
}
.lang li:before {
  display: none;
}
.lang a {
  color: #fff;
}
/* ENTETE */
.head {
  margin-top: -90px;
}
.headHome #bgHead {
  background-image: url(../layoutImg/success/headHome@2.jpg);
  background-position: 50% 100%;
  background-size: 100%;
}
.no-mobile .headHome .content.main {
  padding: 42vh 0 150px;
}
.headHome p {
  color: #fff;
  text-align: center;
}
.headHome .btnFull {
  margin: 0 auto;
}
.headHome:before {
  right: 0;
  bottom: -60px;
  height: 170px;
  background: rgba(247, 136, 108, 0.6);
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}
/* HOME */
.ressources {
  text-align: center;
}
.ressources li {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.ressources li:before {
  display: none;
}
.ressources .btnFull {
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  #logo {
    background: url('../layoutImg/success/logo@2.png') no-repeat;
    background-size: 100%;
  }
}
