/* ==|== media queries ======================================================
   ========================================================================== */

/* @group Responsive horizontal */

@media (max-width: 1820px){
  .headHome{
    #bgHeadHome{
      background: url(../layoutImg/home/smallHeadHome.jpg) no-repeat 50% 100%;
      background-size: auto;
    }
  }
}

@media (max-width: 1250px){
  #sliderRef{
    ul{
      width: 840px;
      margin: 0 auto;
    }
  }
  #prev{
    left: 30px;
  }
  #next{
    right: 30px;
  }

  .ref{
    width: 33.333%;
  }
} 

@media (max-width: 1160px){
  .content{
    &.simple{
      padding-right: 20px;
    }
  }

  .menu{
    > li > a{
      padding: 0 15px;
    }
    .hasSubMenu{
      > a{
        padding-right: 27px;
        &:after{
          right: 15px;
        }
      }
    }
  }

  .slideTeam{
    p{
      max-width: 150px;
    }
  }

  .navTeam{
    width: 152px;
    top: -85px;
  }

  .menuFooter{
    padding: 0;
  }

  .headHome{
    #bgHeadHome{
      background-position: 66% 100%;
    }
  }

  .detailHome{
    padding: 0;
  }

  .avantages{
    margin: 90px 0 0;
    li{
      width: 50% !important;
      margin: 0 0 70px !important;
      padding: 0 50px;
      .box-sizing(border-box);
    }
    h3{
      br{
        display: none;
      }
    }
  }
}

@media (max-width: 1040px){
  header{
    position: relative;
    + .content{
      &.main{
        padding-top: 0;
      }
    }
  }

  .menu{
    width: 170px;
    opacity: 0;
    position: absolute;
    top: 35px;
    z-index: 10;
    margin: 0;
    padding: 30px;
    right: -170px;
    .transition(.2s ease-in-out);
    li{
      display: block;
      text-align: right;
    }
    >li{
      margin: 0 0 5px;
      >a{
        line-height: 25px;
        padding: 0;
        &:hover, &:focus{
          color: @vert;
          &:before{
            border-width: 0 110px 0 0;
          }
        }
      }
    }
    a{

    }
    .hasSubMenu{
      &:hover, &:focus{
        .subMenu{
          bottom: auto;
        }
      }
      > a{
        padding-right: 15px;
        &:after{
          top: 41%;
          right: 0;
        }
        &:hover, &:focus{
          &:after{
            width: auto;
            top: 41%;
            text-align: left;
            right: 15px;
          }
        }
      }
    }
  }

  .subMenu{
    position: relative;
    bottom: auto;
    opacity: 1;
    z-index: 1;
    background: none;
    text-align: left;
    padding: 0;
    ul{
      display: none;
      /*display: block;
      padding: 0 0 10px 10px;
      a{
        .gothamItalic(1em);
        padding: 0;
      }*/
    }
    a{
      margin: 0;
    }
  }

  .topHeader{
    height: 50px;
    .content{
      &:before{
        top: -10px;
      }
      #container-triangle-top-header{
        height: auto;
        bottom: 0;
        #triangle-top-header{
          top: -10px;
          border-width: 0 70px 60px 600px
        }
      }
    }
    p{
      opacity: 0;
      color: @txt;
      position: absolute;
      top: 440px;
      right: -300px;
      width: 250px;
      text-align: right;
      line-height: 18px;
      a{
        color: @txt;
      }
      .transition(.3s ease-in-out);
    }
    label{
      padding: 0 25px 0 0;
    }
    input{
      height: 22px;
    }
    button{
      width: 45px;
      height: 36px
    }
  }

  .lang{
    padding: 0;
    width: auto;
    margin: 15px 30px 0 0;
    &:after{
      display: none;
    }
    li{
      &.actif{
        position: relative;
        + li{
          margin: 0;
          opacity: .7;
        }
      }
    }
  }

  .bottomHeader{
    height: 75px;
    .btnFull{
      height: 35px;
      line-height: 35px;
      width: 160px;
      opacity: 0;
      z-index: 10;
      float: none;
      position: absolute;
      top: 365px;
      right: -400px;
      .transition(.3s ease-in-out);
    }
    .subMenu{
      a{
        color: fade(@txt, 80);
        font-size: 0.9em;
      }
      > li > a{
        padding-top: 0;
      }
    }
    ul{
      a{
        font-size: 0.95em;
      }
    }
  }

  #logo{
    margin: 15px 0;
  }

  #burger{
    display: block;
  }

  #sliderTeam{
    display: none;
  }

  .contactFooter{
    padding: 0 0 90px;
  }

  .formContact{
    width: 100%;
    padding: 0;
  }

  .headHome{
    .content{
      &.main{
        padding-top: 0;
      }
    }
  }

  #sliderRef{
    ul{
      width: 560px;
    }
  }
  #prev{
    left: 50px;
  }
  #next{
    right: 50px;
  }

  .ref{
    width: 50%;
  }

  .detailHome{
    li{
      padding: 0 10px;
    }
  }

  .avantages{
    li{
      width: 100% !important;
      padding: 0 100px;
    }
  }
}

@media (max-width: 979px){
  .navFooter{
    .content{
      > ul, > div{
        width: 100%;
      }
    }
  }

  .itemsFooter{
    padding: 0;
    li{
      padding: 0 50px;
    }
  }

  .menuFooter{
    margin: 70px 0 0;
    p{
      text-align: center;
    }
    ul{
      display: none;
    }
  }

  .detailHome{
    li{
      width: 100%;
      padding: 0;
      margin: 0 0 50px;
    }
  }

  .logosPresse{
    padding: 0;
    li{
      .box-sizing(border-box);
      padding: 0 20px;
    }
    img{
      max-width: 100%;
    }
  }
}

@media (max-width: 767px){
  header{
    &.menuVisible{
      .lang{
        opacity: 1;
        .transition(.5s ease-in-out);
      }
      .topHeader{
        form{
          display: none;
        }
      }
      #burger{
        top: 7px;
      }
      #triangleMenu{
        .transform(rotate(15deg));
      }
    }
  }

  .home{
    .topHeader form{
      display: block;
    }
    .bottomHeader {
      height: 150px;
    }
  }

  .topHeader{
    height: 0;
    .content{
      z-index: 11;
      &:before{
        display: none;
      }
      #container-triangle-top-header{
        display: none;
      }
    }
    form{
      display: none;
      position: absolute;
      top: 80px;
      margin: 0 auto;
      right: 0;
      left: 0;
      width: 223px;
      label{
        color: @bleu;
        text-align: center;
        display: block;
        padding: 0 0 5px;
      }
      input{
        border-color: @vert;
        width: 160px;
      }
    }
  }

  .lang{
    opacity: 0;
    position: absolute;
    left: 30px;
    top: 15px;
    .transition(.3s ease-in-out);
    a{
      color: @txt;
    }
  }

  #burger{
    &.actif{
      .b1, .b2{
        .transition(.3s ease-in-out);
      }
      .b3{
        .transition(.2s ease-in-out);
      }
    }
  }

  .itemsFooter{
    li{
      padding: 0 0 0 30px;
      &:first-child{
        padding: 0 30px 0 0;
      }
    }
  }

  .headHome {
      #bgHeadHome{
        background-position: 73% 100%;
      }
      #triangle-header-vert{
        .transform(rotate(7deg));
      }
      #triangle-header-blanc{
        .transform(rotate(-3deg));
      }
  }

  #sliderRef{
    ul{
      width: 280px;
    }
  }

  .ref{
    width: 100%;
  }

  .avantages{
    li{
      padding: 0;
    }
  }
  .contactFooter{
    #triangle-footer-top-bleu-fonce{
      .transform(rotate(-3deg));
    }
    #triangle-footer-top-bleu-clair{
      .transform(rotate(3deg));
    }
  }
  .navFooter{
    #triangle-footer-bottom-bleu-clair{
      .transform(rotate(-3deg));
    }
    #triangle-footer-bottom-blanc{
      .transform(rotate(-3deg));
    }
  }
  .menuFooter{
    p{
      .triangle-menu-footer{
        .transform(rotate(-3deg) translateY(0px));
        .opacity(1);
      }
    }
  }
  .scrollNext{
    span{
      .transform(rotate(-3deg));
    }
  }
}

@media (max-width: 520px){
  footer{
    margin: 0;
  }
  .content.paddingBottom {
    padding-bottom: 60px;
  }

  .rsFooter{
    ul{
      &:before{
        width: 300px;
        margin: 0 0 0 -150px;
      }
    }
  }

  .scrollNext{
    span{
      width: 300px;
      margin: 0 0 0 -150px;
    }
  }

  #prev{
    left: 20px;
  }
  #next{
    right: 20px;
  }

  .logosPresse{
    li{
      width: 100%;
      padding: 0;
      margin: 0 0 30px;
    }
  }

}

@media (max-width: 450px){
  header{
    &.menuVisible{
      #triangleMenu{
        .transform(rotate(19deg));
      }
    }
  }

  .buttonsTeam{
    display: none;
  }

  .formContact{
    h2{
      margin: 0 0 30px;
    }
    p{
      display: none;
    }
    form{
      &.visible{
        height: 510px;
      }
    }
  }

  .profil{
    display: block;
  }

  .itemsFooter{
    li{
      padding: 0;
      width: 100%;
      &:first-child{
        padding: 0;
        margin: 0 0 60px;
      }
    }
  }

  .headHome {
    #bgHeadHome{
      background-position: 78% 100%;
    }
  }

  .heading{
    font-size: 2.5em;
  }

  #sliderRef{
    + .btnLight{
      margin: 80px auto 0;
    }
  }

  .navSliderRef{
    top: auto;
    bottom: -50px;
  }

  #prev{
    left: 100px;
  }

  #next{
    right: 100px;
  }

  /*.blocH1{
    float: none;
  }*/
}

/* @end */

/* @group Responsive vertical */

@media (max-height: 850px){
  .heading{
    margin: 10vh 0 0;
  }
}

@media (max-height: 850px){
  .heading{
    margin: 10vh 0 0;
  }
}

@media (max-height: 800px){
  .heading{
    margin: 5vh 0 0;
  }
}

@media (max-height: 750px){
  .blocH1 {
    width: 350px;
    padding: 0 0 170px;
  }
}

@media (max-height: 700px){
  .heading{
    br{
      display: none;
    }
  }
  .blocH1 {
    width: 400px;
    margin: 0;
  }
}

@media (max-height: 650px){
  .subHeading{
    font-size: 1em;
    line-height: 1.2em;
  }
}

/* @end */

/*  @group retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    #logo{
      background: url('../layoutImg/logo@2.png') no-repeat;
      background-size: 100%; 
    }

    .detailHome{
      .event{
        &:before{
          background: url('../layoutImg/home/pot@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .conf{
        &:before{
          background: url('../layoutImg/home/tel@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .training{
        &:before{
          background: url('../layoutImg/home/graph@2.png') no-repeat;
          background-size: 100%; 
        }
      }
    }

    .avantages{
      .accompagnement{
        &:before{
          background: url('../layoutImg/home/accompagnement@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .securite{
        &:before{
          background: url('../layoutImg/home/chateau@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .fiable{
        &:before{
          background: url('../layoutImg/home/w@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .technique{
        &:before{
          background: url('../layoutImg/home/connexion@2.png') no-repeat;
          background-size: 100%; 
        }
      }
    }

}

/* @end */


/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}