/* ==|== media queries ======================================================
   ========================================================================== */

/* @group Responsive horizontal */

@media (max-width: 1160px){
  .content{
    &.simple{
      padding-right: 20px;
    }
  }

  .menu{
    > li > a{
      padding: 0 15px;
    }
    .hasSubMenu{
      > a{
        padding-right: 27px;
        &:after{
          right: 15px;
        }
      }
    }
  }

  .slideTeam{
    p{
      max-width: 150px;
    }
  }

  .navTeam{
    width: 152px;
    top: -85px;
  }

  .menuFooter{
    padding: 0;
  }
}

@media (max-width: 1040px){
  header{
    position: relative;
  }

  nav{
    &.visible{
      .menu{
        display: block;
      }
      #burger{
        position: fixed;
      }
    }
  }

  .menu{
    display: none;
    position: fixed;
    background: fade(@blanc, 95);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    padding: 30px;
    li{
      display: block;
    }
    >li{
      >a{
        line-height: 25px;
        padding-left: 0;
        &:hover, &:focus{
          &:before{
            border-width: 0 110px 0 0;
          }
        }
      }
    }
    .hasSubMenu{
      &:hover, &:focus{
        .subMenu{
          bottom: auto;
        }
      }
      > a{
        &:hover, &:focus{
          &:after{
            width: auto;
            top: 47%;
            text-align: left;
            right: 15px;
          }
        }
      }
    }
  }

  .subMenu{
    position: relative;
    bottom: auto;
    opacity: 1;
    z-index: 1;
    background: none;
    text-align: left;
    padding-top: 0;
    ul{
      display: block;
      padding: 0 0 10px 10px;
      a{
        .gothamItalic(1em);
        padding: 0;
      }
    }
  }

  .topHeader{
    height: 50px;
    .content{
      &:before{
        top: -10px;
      }
    }
    p{
      display: none;
    }
    label{
      padding: 0 25px 0 0;
    }
    input{
      height: 22px;
    }
    button{
      width: 45px;
      height: 36px
    }
  }

  .lang{
    padding: 0;
    width: auto;
    margin: 15px 30px 0 0;
    &:after{
      display: none;
    }
    li{
      &.actif{
        position: relative;
        + li{
          margin: 0;
          opacity: .7;
        }
      }
    }
  }

  .bottomHeader{
    height: 75px;
    .btnFull{
      display: none;
      z-index: 10;
      float: none;
      position: absolute;
      bottom: -270px;
      left: 30px;
      .home &{
        opacity: 1;
      }
    }
    .subMenu{
      a{
        color: fade(@txt, 80);
      }
    }
  }

  #logo{
    margin: 15px 0;
  }

  #burger{
    display: block;
    z-index: 11;
  }

  #sliderTeam{
    display: none;
  }

  .contactFooter{
    padding: 0 0 90px;
  }

  .formContact{
    width: 100%;
    padding: 0;
  }

  .headHome{
    .content{
      &.main{
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 979px){
  .navFooter{
    .content{
      > ul, > div{
        width: 100%;
      }
    }
  }

  .itemsFooter{
    padding: 0;
    li{
      padding: 0 50px;
    }
  }

  .menuFooter{
    margin: 70px 0 0;
    p{
      text-align: center;
    }
    ul{
      display: none;
    }
  }
}

@media (max-width: 767px){
  .itemsFooter{
    li{
      padding: 0 0 0 30px;
      &:first-child{
        padding: 0 30px 0 0;
      }
    }
  }
}

@media (max-width: 450px){
  .buttonsTeam{
    display: none;
  }

  .formContact{
    h2{
      margin: 0 0 30px;
    }
    p{
      display: none;
    }
    form{
      &.visible{
        height: 460px;
      }
    }
  }

  .profil{
    display: block;
  }

  .itemsFooter{
    li{
      padding: 0;
      width: 100%;
      &:first-child{
        padding: 0;
        margin: 0 0 60px;
      }
    }
  }
}

/* @end */

/* @group Responsive vertical */

@media (max-height: 850px){
  .heading{
    margin: 10vh 0 0;
  }
}

@media (max-height: 800px){
  .heading{
    margin: 5vh 0 0;
  }
}

@media (max-height: 750px){
  .blocH1 {
    width: 350px;
    padding: 0 0 170px;
  }
}

@media (max-height: 700px){
  .heading{
    br{
      display: none;
    }
  }
  .blocH1 {
    width: 400px;
    margin: 0;
  }
}

@media (max-height: 650px){
  .subHeading{
    font-size: 1em;
    line-height: 1.2em;
  }
}

/* @end */

/*  @group retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    #logo{
      background: url('../layoutImg/logo@2.png') no-repeat;
      background-size: 100%; 
    }

    .detailHome{
      .event{
        &:before{
          background: url('../layoutImg/home/pot@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .conf{
        &:before{
          background: url('../layoutImg/home/tel@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .training{
        &:before{
          background: url('../layoutImg/home/graph@2.png') no-repeat;
          background-size: 100%; 
        }
      }
    }

    .avantages{
      .accompagnement{
        &:before{
          background: url('../layoutImg/home/accompagnement@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .securite{
        &:before{
          background: url('../layoutImg/home/chateau@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .fiable{
        &:before{
          background: url('../layoutImg/home/w@2.png') no-repeat;
          background-size: 100%; 
        }
      }
      .technique{
        &:before{
          background: url('../layoutImg/home/connexion@2.png') no-repeat;
          background-size: 100%; 
        }
      }
    }

}

/* @end */


/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}