@import "norm.less";
@import "lesshat.less";
@import "fonts.less";

@blanc: #fff;
@noir: #000;
@txt: #3a434c;

@vert: #46b489;
@rouge: #e25c5b;
@bleu: #06698d;
@rose: #f7886c;
@jaune: #f1bc33;

@bleuLien: #289bc4;
@bleuH2: #17698d;
@grisH3: #4e4e4e;
@grisBorder: #ebeeef;
@bleuTop: #1e8cb4;
@bleuFooter: #aed7e8;
@bleuFooterContact: #0d5c7b;
@grisMentions: #8c959b;
@grisSolid: #718289;
@grisSubMenu: #eff1f1;
@grisSlides: #f4f5f5;

html,
button,
input,
select,
textarea {
  .gotham(100%);
  color: @txt;
}

/* @group Mes styles */

/* @group General */

/* selection */
::-moz-selection { 
	background: @txt;  
	color: @blanc;
	text-shadow: none; 
}
::selection { 
	background: @txt;  
	color: @blanc; 
	text-shadow: none; 
}


body{
  .gotham(.95em);
}

h1, h3{
  .gothamMedium(1.2em);
}
h1, h2{
  text-transform: uppercase;
}
h1{
  font-size: 2.5em;
  line-height: 45px;
  color: @vert;
  margin: 1.6em 0;
}
h2, h3{
  line-height: 24px;
}
h2{
  .gothamBold(1.3em);
  color: @bleuH2;
  margin-top: 4em;
  &.big{
    font-size: 1.45em;
  }
}
h3{
  color: @grisH3;
}

a{
  border-bottom: 1px solid fade(@bleuLien, 30);
  color: @bleuLien;
  text-decoration: none;
  outline: 0;
  .transition(.3s ease-in-out);
  &:hover, &:focus{
    color: @bleu;
    border-color: fade(@bleu, 30);
    .transition(.3s ease-in-out);
  }
  &:active{
    color: darken(@bleu, 10);
    border-color: darken(fade(@bleu, 30), 10);
  }
}

p{
  margin: 2em 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  position: relative;
  padding: 0 0 0 10px;
  &:before{
    content: '•';
    position: absolute;
    left: 0;
    color: @rouge;
  }
}

strong, b{
  .gothamBold(1em);
}
em, i, blockquote{
  .gothamItalic(1em);
}

blockquote{
  position: relative;
  padding: 25px 20px;
  margin: 0 0 0 -25px;
  border: 2px solid @grisBorder;
  text-indent: 30px;
  line-height: 20px;
  &:before{
    .fontIcon();
    content: '\e600';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: @rouge;
    text-indent: 0;
  }
}

fieldset{
  width: 48.5%;
  display: inline-block;
  margin: 0 0 15px;
  &.block{
    width: 100%;
  }
  &.left{
    margin-right: 3%;
  }
  &.small{
    width: 35%;
  }
  + button{
    margin: 20px 0 0;
  }
}

input, textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  vertical-align: middle;
  border: 2px solid @blanc;
  .gothamItalic(1em);
  line-height: 26px;
  width: 100%;
  .box-sizing(border-box);
  .transition(.3s ease-in-out);
  &:focus{
    outline: 0;
    .transition(.3s ease-in-out);
  }
}
input{
  + button{
    margin-left: 3px;
  }
}
textarea{
  height: 130px;
}

.select{
  padding: 5px 10px;
  border: 2px solid @blanc;
  width: 100%;
  position: relative;
  .box-sizing(border-box);
  &:after{
    .fontIcon();
    content: "\e601";
    color: @blanc;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 8px;
    pointer-events: none;
    .transition(.3s ease-in-out);
  }
}
select{
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  width: 130%;
  color: @blanc;
  .gothamItalic(1em);
}

label{
  display: block;
}
button, label{
  .gothamBold(.93em);
  text-transform: uppercase;
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  .transition(.3s ease-in-out);
  &.btnFull{
    text-transform: none;
    padding: 0;
    height: 48px;
    &:before{
      top: 0;
    }
  }
  &:hover, &:focus{
    outline: 0;
    .transition(.3s ease-in-out);
  }
}

/* BUTTONS */

.btnFull, .btnLight, .btnBlanc{
  display: block;
  position: relative;
  width: 220px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  border: 2px solid;
  overflow: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  .transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
  .gothamMedium(1em);
  .small{
    font-size: 0.75em;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
    .transform(rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0));
    .transform-origin(0% 100%);
    .transition(.3s ease-in-out);
  }
  &:hover, &:focus{
    background: transparent;
    border-color: @vert;
    &:before{
      opacity: 1;
      .transform(rotate3d(0, 0, 1, 0deg));
      .transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
    }
  }
}
.btnFull{
  color: @blanc;
  border-color: @vert;
  background: @vert;
  &:before{
    background: @vert;
  }
  &:hover, &:focus{
    color: @vert;
    &:before{
      background: @blanc;
    }
  }
}
.btnLight{
  color: @vert;
  background: @blanc;
  &:before{
    background: @blanc;
  }
  &:hover, &:focus{
    color: @blanc;
    &:before{
      background: @vert;
    }
  }
}
.btnBlanc{
  color: @blanc;
  background: none;
  &:before{
    background: @blanc;
  }
  &:hover, &:focus{
    color: @bleuLien;
    border-color: @bleuLien;
    &:before{
      background: @blanc;
    }
  }
}

.scrollNext{
  color: @bleuH2;
  position: relative;
  z-index: 1;
  margin: 65px 0 0;
  &:hover, &:focus{
    color: @bleuLien;
  }
  &:before{
    background: @blanc;
    padding: 0 20px; 
  }
  span{
    display: block;
    height: 2px;
    width: 450px;
    background: @grisBorder;
    position: absolute;
    z-index: -1;
    top: 42%;
    left: 50%;
    margin: 0 0 0 -225px;
    .transform(rotate(0deg));
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
  }
}


/* CONTAINERS */

.content{
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  .box-sizing(border-box);
  margin: 0 auto;
  &.main{
    padding-top: 135px;
  }
  &.simple{
    padding-right: 185px;
  }
}


/* HEADER */

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  .transition(.3s ease-in-out);
  ul, li, p, a{
    display: inline-block;
  }
  li{
    padding: 0;
    &:before{
      display: none;
    }
  }
  a{
    border: 0;
  }
  .home & {
    a.btnFull{
      opacity: 0;
    }
  }
  &.on{
    top: -40px;
    .transition(.3s ease-in-out);
    .bottomHeader{
      background: fade(@blanc, 80);
      height: 73px;
      .transition(.3s ease-in-out);
    }
    a.btnFull{
      opacity: 1;
    }
    .menu{
      > li{
        > a{
          line-height: 73px;
        }
      }
    }
    #logo, .bottomHeader .btnFull{
      margin: 13px 0;
    }
  }
  &.menuVisible{
    nav{
      .menu{
        top: 0;
        height: 100%;
        opacity: 1;
        .transition(.3s ease-in-out);
      }
      .btnFull{
        top: 395px;
        opacity: 1;
      }
    }
    .topHeader{
      p{
        opacity: 1;
        top: 475px;
      }
    }
  }
}

.topHeader{
  height: 40px;
  background: @bleu;
  color: @blanc;
  a, label{
    color: @blanc;
    .gothamMedium(.85em);
  }
  p{
    margin: 0;
    line-height: 39px;
    vertical-align: top;
    .gothamItalic(.85em);
    a, span{
      .gothamMedium(1em);
    }
  }
  form{
    margin: 7px 0;
    float: right;
  }
  button{
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 26px;
    line-height: 20px;
  }
  label{
    padding: 0 40px 0 0;
    text-transform: none;
    display: inline;
  }
  input{
    height: 12px;
    width: 121px;
    padding: 5px;
    .box-sizing(content-box);
    + button{
      margin-left: 3px;
    }
    &:focus{
      border-color: @vert;
    }
  }
  .content{
    position: relative;
    z-index: 1;
    #container-triangle-top-header{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      overflow: hidden;
      #triangle-top-header{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        top: -20px;
        right: 80px;
        border-style: solid;
        border-width: 0 10px 60px 600px;
        border-color: transparent transparent @bleuTop transparent;
        .transform(translateY(20px) rotate(3deg));
        .backface-visibility(hidden);
        .transform-style(preserve-3d);
      }
    }
  }
}

.lang{
  position: relative;
  padding: 0 15px 0 0;
  margin: 10px 30px 0 0;
  width: 18px;
  height: 17px;
  overflow: hidden;
  .transition(.3s ease-in-out);
  li{
    opacity: 0;
    .transition(.3s ease-in-out);
    &.actif{
      opacity: 1;
      position: absolute;
      + li{
        margin: 0 0 0 40px;
      }
    }
  }
  &:after{
    .fontIcon();
    content: "\e601";
    display: block;
    font-size: 6px;
    position: absolute;
    left: 23px;
    height: 100%;
    top: 0;
    line-height: 20px;
    cursor: pointer;
    .transition(.1s ease-in-out);
  }
  &:hover, &:focus{
    width: 71px;
    .transition(.3s ease-in-out);
    li{
      opacity: 1;
      .transition(.3s ease-in-out);
    }
    &:after{
      top: 2px;
      left: 21px;
      .transform(rotate(-90deg));
      .transition(.1s ease-in-out);
    }
  }
}

.bottomHeader{
  height: 96px;
  background: @blanc;
  border-bottom: 1px solid @grisBorder;
  .box-sizing(border-box);
  .transition(.3s ease-in-out);
  ul{
    vertical-align: middle;
    a{
      .gothamMedium(1em);
      color: @txt;
    }
  }
  a{
    vertical-align: middle;
  }
  .btnFull{
    float: right;
    width: 170px;
    margin: 24px 0;
  }
}

#logo{
  width: 198px;
  height: 45px;
  background: url(../layoutImg/logo.png) no-repeat;
  text-indent: -999em;
  margin: 25px 0;
}

.menu{
  margin: 0 0 0 70px;
  a{
    padding: 0 23px;
  }
  > li{
    position: static;
    > a{
      line-height: 95px;
      position: relative;
      z-index: 1;
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 110px 0 0;
        border-color: transparent transparent @grisSubMenu transparent;
        .transition(.3s ease-in-out);
      }
      &:hover, &:focus{
        &:before{
          border-width: 0 110px 66px 36px;
          .transition(.3s ease-in-out);
        }
      }
    }
  }
  .hasSubMenu{
    > a{
      padding-right: 35px;
      &:after{
        .fontIcon();
        content: "\e601";
        position: absolute;
        font-size: 7px;
        right: 23px;
        top: 47%;
      }
      &:hover, &:focus{
        &:after{
          width: 100%;
          top: 65px;
          text-align: center;
          right: 8px;
          .transition(top .3s ease-in-out);
        }
      }
    }
    &:hover{
      .subMenu{
        opacity: 1;
        bottom: -45px;
        .transition(.3s ease-in-out);
      }
    }
    &.actifHover{
      > a{
        &:before{
          border-width: 0 110px 66px 36px;
        }
        &:after{
          width: 100%;
          top: 65px;
          text-align: center;
          right: 8px;
        }
      }
    }
  }
}

.subMenu{
  bottom: 50px;
  position: absolute;
  width: 100%;
  left: 0;
  background: @grisSubMenu;
  text-align: center;
  padding: 10px 0;
  z-index: -1;
  opacity: 0;
  .transition(.5s ease-in-out);
  a{
    margin: 0 23px;
    padding: 4px 0;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0;
      background: @rose;
      bottom: 0;
      .transition(.2s ease-in-out);
    }
    &:hover, &:focus{
      &:after{
        height: 3px;
        .transition(.2s ease-in-out);
      }
    }
  }
  ul{
    display: none;
  }
}

#burger{
  float: right;
  margin: 28px 0;
  display: none;
  position: relative;
  width: 28px;
  height: 20px;
  padding: 0;
  top: 0;
  z-index: 11;
  .transition(none);
  .b{
    display: block;
    height: 4px;
    width: 28px;
    background: @vert;
    position: absolute;
    .transition(.3s ease-in-out);
  }
  .b1{
    top: 0;
  }
  .b2{
    top: 8px;
  }
  .b3{
    top: 16px;
    opacity: 1;
  }
  &.actif{
    position: fixed;
    top: 2px;
    right: 30px;
    .b1{
      .transform(rotate(45deg));
      .transition(.1s all .3s ease-in-out);
    }
    .b2{
      top: 0;
      .transform(rotate(-45deg));
      .transition(.1s all .3s ease-in-out);
    }
    .b3{
      opacity: 0;
      .transition(.2s ease-in-out);
    }
  }
}

/* FOOTER */

footer{
  padding: 130px 0 0;
  margin: 100px 0 0;
  overflow: hidden;
}

.contactFooter{
  .transition(.3s ease-in-out);
  &.bleu{
    background: @bleuFooterContact;
    #triangle-footer-top-bleu-fonce{
      background: @bleuFooterContact;
    }
    #triangle-footer-top-bleu-clair{
      background: @bleuFooter;
    }
    .slideTeam{
      strong{
        color: @bleuFooter;
      }
    }
    .navTeam{
      button{
        color: darken(@bleu, 10);
        &:hover, &:focus, &.actif{
          color: @bleuFooter;
        }
        &.actif{
          text-shadow: 2px 2px 2px darken(@bleu, 10);
        }
      }
    }
    #bulle{
      &:after{
        color: @bleuFooter;
      }
    }
    .formContact{
      input, textarea, .select{
        background: #116180;
        border-color: darken(@bleu, 10);
        &:focus{
          border-color: @blanc;
        }
      }
      .select{
        &:hover, &:focus{
          &:after{
            color: darken(@bleu, 10);
            .transition(.3s ease-in-out);
          }
        }
      }
    }
    .buttonsTeam{
      &:after{
        background: darken(@bleu, 10);
      }
      button{
        &.actif{
          &:after{
            color: @bleuFooter;
            text-shadow: 2px 2px 2px darken(@bleu, 10);
          }
        }
      }
    }
  }
  &.rouge{
    background: @rouge;
    #triangle-footer-top-bleu-fonce{
      background: @rouge;
    }
    #triangle-footer-top-bleu-clair{
      background: fade(@rouge, 60);
    }
    .slideTeam{
      strong{
        color: fade(@rouge, 60);
      }
    }
    .navTeam{
      button{
        color: darken(@rouge, 10);
        &:hover, &:focus, &.actif{
          color: fade(@rouge, 60);
        }
        &.actif{
          text-shadow: 2px 2px 2px darken(@rouge, 10);
        }
      }
    }
    #bulle{
      &:after{
        color: fade(@rouge, 60);
      }
    }
    .formContact{
      input, textarea, .select{
        background: darken(@rouge, 5);
        border-color: darken(@rouge, 10);
        &:focus{
          border-color: @blanc;
        }
      }
    }
    .buttonsTeam{
      &:after{
        background: darken(@rouge, 10);
      }
      button{
        &.actif{
          &:after{
            color: fade(@blanc, 60);
            text-shadow: 2px 2px 2px darken(@rouge, 10);
          }
        }
      }
    }
  }
  &.vert{
    background: @vert;
    #triangle-footer-top-bleu-fonce{
      background: @vert;
    }
    #triangle-footer-top-bleu-clair{
      background: fade(@vert, 60);
    }
    .slideTeam{
      strong{
        color: fade(@vert, 60);
      }
    }
    .navTeam{
      button{
        color: darken(@vert, 10);
        &:hover, &:focus, &.actif{
          color: fade(@vert, 60);
        }
        &.actif{
          text-shadow: 2px 2px 2px darken(@vert, 10);
        }
      }
    }
    #bulle{
      &:after{
        color: fade(@vert, 60);
      }
    }
    .formContact{
      input, textarea, .select{
        background: darken(@vert, 5);
        border-color: darken(@vert, 10);
        &:focus{
          border-color: @blanc;
        }
      }
    }
    .buttonsTeam{
      &:after{
        background: darken(@vert, 10);
      }
      button{
        &.actif{
          &:after{
            color: fade(@blanc, 60);
            text-shadow: 2px 2px 2px darken(@vert, 10);
          }
        }
      }
    }
  }
  &.rose{
    background: @rose;
    #triangle-footer-top-bleu-fonce{
      background: @rose;
    }
    #triangle-footer-top-bleu-clair{
      background: fade(@rose, 60);
    }
    .slideTeam{
      strong{
        color: fade(@rose, 60);
      }
    }
    .navTeam{
      button{
        color: darken(@rose, 10);
        &:hover, &:focus, &.actif{
          color: fade(@rose, 60);
        }
        &.actif{
          text-shadow: 2px 2px 2px darken(@rose, 10);
        }
      }
    }
    #bulle{
      &:after{
        color: fade(@rose, 60);
      }
    }
    .formContact{
      input, textarea, .select{
        background: darken(@rose, 5);
        border-color: darken(@rose, 10);
        &:focus{
          border-color: @blanc;
        }
      }
    }
    .buttonsTeam{
      &:after{
        background: darken(@rose, 10);
      }
      button{
        &.actif{
          &:after{
            color: fade(@blanc, 60);
            text-shadow: 2px 2px 2px darken(@rose, 10);
          }
        }
      }
    }
  }
  &.rouge, &.rose, &.vert{
    .btnFull{
      background: @bleu;
      border-color: @bleu;
      &:hover, &:focus{
        color: @bleu;
      }
    }
  }
  padding: 0 0 130px;
  position: relative;
  h2, button, p, label{
    color: @blanc;
  }
  /*&:before, &:after{
    content: '';
    display: none;
    position: absolute;
    top: -71px;
    height: 100px;
    width: 150%;
  }
  &:before{
    z-index: -1;
    //.transform(rotate(-3deg));
    .transform(rotate(0deg) translateZ(1px));
  }
  &:after{
    left: -50%;
    z-index: -2;
    .transform(rotate(3deg));
  }*/
  #triangle-footer-top-bleu-fonce{
    display: block;
    position: absolute;
    top: -71px;
    height: 100px;
    width: 150%;
    z-index: -1;
    .transform(rotate(0deg) translateZ(1px));
    .transition(.3s ease-in-out);
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
  }
  #triangle-footer-top-bleu-clair{
    display: block;
    position: absolute;
    top: -71px;
    height: 100px;
    width: 150%;
    left: -50%;
    z-index: -2;
    .transform(rotate(0deg) translateZ(1px));
    .transition(.3s ease-in-out);
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
  }
  /*.no-csstransforms &{
    padding: 40px 0;
  }*/
}

.profil{
  display: none;
}

#sliderTeam{
  width: 50%;
  display: inline-block;
  position: relative;
  li{
    padding: 0;
    &:before{
      display: none;
    }
  }
}
.slidesTeam{
  position: absolute;
  bottom: -115px;
  width: 95%;
  right: 5%;
  display: none;
  &.on{
    display: block;
  }
}
.slideTeam{
  overflow: hidden;
  display: none;
  &.on{
    display: block;
  }
  img{
    float: right;
  }
  p{
    display: inline-block;
    text-align: right;
    margin: 38% 0 0;
    float: left;
  }
  strong{
    display: block;
  }
}
.navTeam{
  text-align: right;
  width: 178px;
  position: absolute;
  top: -105px;
  li{
    display: inline-block;
  }
  button{
    padding: 0;
    font-size: 32px;
    padding-right: 0;
    .transition(.3s ease-in-out);
    &:hover, &:focus, &.actif{
      .transition(.3s ease-in-out);
    }
  }
}

#bulle{
  text-align: right;
  position: absolute;
  top: -610px;
  width: 275px;
  left: 45px;
  opacity: 0;
  .transition(.3s ease-in-out);
  &.visible{
    opacity: 1;
    .transition(.3s ease-in-out);
  }
  &:after{
    .fontIcon();
    content: "\e60b";
    display: block;
    font-size: 194px;
    line-height: 30px;
    opacity: .3;
  }
}

.formContact{
  width: 50%;
  display: inline-block;
  padding: 0 0 0 30px;
  .box-sizing(border-box);
  h2{
    margin: 0;
  }
  p{
    margin-top: 0;
  }
  input, textarea{
    color: @blanc;
  }
  label{
    margin: 0 0 5px 1px;
  }
  form{
    margin: 50px 0 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    .transition(.3s ease-in-out);
    &.visible{
      height: 390px;
      opacity: 1;
      .transition(.3s ease-in-out);
    }
  }
}

.buttonsTeam{
  margin: 0 0 30px;
  &:after{
    content: '';
    display: block;
    width: 351px;
    height: 9px;
    border-radius: 20px;
    margin: 15px 0 0 34px;
    .transition(.3s ease-in-out);
  }
  li{
    padding: 0;
    margin: 0 0 0 47px;
    display: inline-block;
    vertical-align: bottom;
    &:before{
      display: none;
    }
    &:first-child{
      margin: 0;
    }
  }
  button{
    padding: 0;
    opacity: .6;
    &:before{
      .fontIcon();
      display: block;
      font-size: 50px;
      margin: 0 0 10px;
    }
    &:after{
      content: '•';
      display: block;
      font-size: 10px;
      position: absolute;
      left: 40%;
      bottom: -25px;
      .transition(.2s ease-in-out);
    }
    &.actif{
      opacity: 1;
      &:after{
        font-size: 46px;
        left: 30%;
        bottom: -46px;
      }
    }
    &:hover, &:focus{
      opacity: 1;
    }
  }
}
#ent{
  &:before{
    content: "\e605";
    line-height: 17px;
  }
}
#agence{
  &:before{
    content: "\e602";
    line-height: 33px;
  }
}
#ecole{
  &:before{
    content: "\e604";
    line-height: 28px;
  }
}
#autre{
  &:before{
    content: "\e603";
    line-height: 41px;
  }
}

.navFooter{
  position: relative;
  background: @grisBorder;
  padding: 15px 0;
  z-index: 1;
  &:before, &:after{
    content: '';
    //display: block;
    display: none;
    position: absolute;
    top: -71px;
    height: 105px;
    width: 150%;
    background: @grisBorder;
    .transform(rotate(-3deg));
    z-index: -1;
  }
  &:before{
  }
  &:after{
    top: auto;
    bottom: -30px;
  }
  #triangle-footer-bottom-bleu-clair{
    display: block;
    position: absolute;
    top: -71px;
    height: 105px;
    width: 150%;
    background: @grisBorder;
    .transform(rotate(0deg));
    z-index: -1;
  }
  #triangle-footer-bottom-blanc{
    display: block;
    position: absolute;
    top: auto;
    bottom: -30px;
    height: 105px;
    width: 150%;
    background: @grisBorder;
    .transform(rotate(0deg));
    z-index: -1;
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
  }
  li{
    padding: 0;
    &:before{
      display: none;
    }
  }
  .content{
    > ul, > div{
      width: 50%;
      display: inline-block;
      vertical-align: top;
      > li, > ul > li{
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

.itemsFooter{
  .box-sizing(border-box);
  padding: 0 45px 0 0;
  li{
    width: 50%;
    text-align: center;
    .box-sizing(border-box);
    padding: 0 70px 0 0;
  }
  .titre{
    display: block;
    position: relative;
    width: 155px;
    height: 96px;
    margin: 0 auto;
    overflow: hidden;
    strong{
      position: absolute;
      top: 22%;
      display: block;
      width: 100%;
      text-align: center;
      color: @blanc;
      font-size: 4em;
      .transition(.3s ease-in-out);
    }
    .blog{
      top: 35%;
      .gothamMedium(1.7em);
    }
    &:before{
      content: '';
      position: absolute;
      left: -30px;
      width: 150%;
      height: 100%;
      background: @grisBorder;
      .transform(rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0));
      .transform-origin(0% 100%);
      .transition(.3s ease-in-out);
    }
  }
  .txt{
    display: block;
    color: @txt;
    border: 0;
    font-size: .85em;
    line-height: 1.5em;
    padding: 30px 0;
    + strong{
      position: relative;
      color: @vert;
      border-color: fade(@vert, 30);
      .gothamMedium(.85em);
      .transition(.3s ease-in-out);
      &:before{
        content: '›';
        position: absolute;
        top: 0;
        left: -7px;
      }
    }
  }
  a{
    &:hover, &:focus{
      .titre{
        strong{
          color: @grisSolid;
          .transition(.3s ease-in-out);
        }
        &:before{
          opacity: 1;
          background: @blanc;
          .transform(rotate3d(0, 0, 1, 0deg));
          .transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
        }
      }
      .txt{
        + strong{
          color: @grisSolid;
          border-color: fade(@grisSolid, 30);
          .transition(.3s ease-in-out);
        }
      }
    }
  }
}

.menuFooter{
  .box-sizing(border-box);
  padding: 0 0 0 60px;
  p{
    margin: 0 0 60px;
    position: relative;
    z-index: 1;
    .gothamMedium(1em);
    span, a{
      .gothamBold(1em);
      color: @bleu;
    }
    .triangle-menu-footer{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      left: 105px;
      top: -12px;
      border-style: solid;
      border-width: 75px 40px 0 250px;
      border-color: @blanc transparent transparent transparent;
      z-index: -1;
      .transform(rotate(-22deg) translateY(40px));
      .opacity(0);
      .backface-visibility(hidden);
      .transform-style(preserve-3d);
    }
  }
  a{
    border: 0;
    &:hover, &:focus{
      color: @bleuLien;
    }
  }
  > ul{
    > li{
      padding: 0 0 0 90px;
      &:first-child{
        padding: 0;
      }
      > a{
        .gothamMedium(1.05em);
        color: @vert;
        +ul{
          position: relative;
          padding: 30px 0 10px;
          &:after{
            content: '—';
            position: absolute;
            bottom: -10px;
          }
        }
      }
      ul{
        padding: 10px 0;
      }
      li{
        a{
          color: @txt;
          font-size: .85em;
        }
      }
    }
  }
}

.rsFooter{
  text-align: center;
  margin: 105px auto 0;
  li{
    display: inline-block;
    padding: 3px;
    height: 30px;
    &:before{
      display: none;
    }
  }
  span{
    display: block;
    text-indent: -999em;
  }
  ul{
    height: 40px;
    display: inline-block;
    position: relative;
    background: @blanc;
    padding: 0 10px;
    &:before{
      content: '';
      display: block;
      height: 2px;
      width: 500px;
      background: @grisBorder;
      position: absolute;
      z-index: -1;
      top: 42%;
      left: 50%;
      margin: 0 0 0 -250px;
      .transform(rotate(-3deg));
    }
    a{
      border: 0;
      font-size: 30px;
      &:hover, &:focus{
        color: @txt;
      }
    }
  }
  .icon-fb{
    color: #0d5c7c;
  }
  .icon-tw{
    color: #289bc4;
  }
  .icon-in{
    color: #258aae;
  }
  .icon-yt{
    color: #c85450;
  }
  p{
    font-size: 0.75em;
    a{
      color: @grisMentions;
      border-color: fade(@grisMentions, 30);
      &:hover, &:focus{
        color: @bleuLien;
        border-color: fade(@bleuLien, 30);
      }
    }
  }
}


/* ENTETE */

.headHome{
  background: url(../layoutImg/home/headHome.jpg) no-repeat 100% 100%;
  background-size: cover; 
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  + .wrapper{
    position: relative;
    z-index: 2;
  }
  #triangle-header-vert{
    display: block;
    position: absolute;
    width: 150%;
    z-index: -1;
    right: 0;
    bottom: -60px;
    height: 170px;
    background: fade(@vert, 60);
    .transform(rotate(7deg));
  }
  #triangle-header-blanc{
    display: block;
    position: absolute;
    width: 150%;
    z-index: -1;
    bottom: -25px;
    height: 105px;
    background: @blanc;
    .transform(rotate(-3deg));
  }
}

.blocH1{
  width: 290px;
  max-width: 100%;
  float: right;
  padding: 0 0 200px;
  margin: 0 5% 0 0;
}

.heading{
  .edmond(1em);
  color: @blanc;
  font-size: 3em;
  line-height: 1em;
  margin: 15vh 0 0;
  span{
    display: block;
    .edmondBold(1em);
  }
}

.subHeading{
  color: @blanc;
  text-transform: none;
  .gotham(1.32em);
  margin: 25px 0;
}


/* HOME */

.home{
  .wrapper{
    text-align: center;
    .btnLight{
      margin: 0 auto;
    }
  }
}

.detailHome{
  .box-sizing(border-box);
  padding: 0 65px;
  margin: -130px 0 0;
  li{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0 30px;
    .box-sizing(border-box);
    &:before{
      content: '';
      display: block;
      position: relative;
      margin: 0 auto;
      .size(150px);
    }
  }
  p{
    margin: 1em 0 1.5em;
  }
  .event{
    &:before{
      background: url(../layoutImg/home/pot.png) no-repeat;
    }
  }
  .conf{
    &:before{
      background: url(../layoutImg/home/tel.png) no-repeat;
    }
  }
  .training{
    &:before{
      background: url(../layoutImg/home/graph.png) no-repeat;
    }
  }
}

#sliderRef{
  position: relative;
  margin: 35px 0 30px;
  width: 100%;
  height: 300px;
  ul{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

.ref{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 25%;
  padding: 0;
  height: 300px;
  &:before{
    display: none;
  }
  a{
    background: @grisSlides;
    border: 0;
    color: @txt;
    display: block;
    height: 100%;
    width: 98%;
    margin: 0 1%;
    top: 0;
    position: absolute;
    overflow: hidden;
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:before{
      border-width: 43px 0 0 274px;
      .transition(.3s border-width .2s ease-in-out);
    }
    &:after{
      right: 0;
      border-width: 0 0 43px 274px;
      .transition(.4s border-width .2s ease-in-out);
    }
    &:hover, &:focus{
      background: fade(@grisSlides, 50);
      .hover{
        top: 0;
        opacity: .9;
        .transition(.2s top .3s ease-in-out, .2s opacity .3s ease-in-out);
      }
      &:before{
        border-width: 0 0 0 274px;
        .transition(.2s ease-in-out);
      }
      &:after{
        border-width: 0 0 0 274px;
        .transition(.1s border-width .1s ease-in-out);
      }
    }
  }
  &.jaune{
    a{
      &:before{
        border-color: transparent transparent transparent @jaune;
      }
      &:after{
        border-color: transparent transparent fade(@jaune, 55) transparent;
      }
    }
    .hover{
      background: @jaune;
    }  
  }
  &.rouge{
    a{
      &:before{
        border-color: transparent transparent transparent @rouge;
      }
      &:after{
        border-color: transparent transparent fade(@rouge, 55) transparent;
      }
    }
    .hover{
      background: @rouge;
    }
  }
  &.rose{
    a{
      &:before{
        border-color: transparent transparent transparent @rose;
      }
      &:after{
        border-color: transparent transparent fade(@rose, 55) transparent;
      }
    }
    .hover{
      background: @rose; 
    }
  }
  &.bleu{
    a{
      &:before{
        border-color: transparent transparent transparent @bleu;
      }
      &:after{
        border-color: transparent transparent fade(@bleu, 55) transparent;
      }
    }
    .hover{
      background: @bleu; 
    }
  }
  &.vert{
    a{
      &:before{
        border-color: transparent transparent transparent @vert;
      }
      &:after{
        border-color: transparent transparent fade(@vert, 55) transparent;
      }
    }
    .hover{
      background: @vert; 
    }
  }
  span{
    display: block;
  }
  .img{
    position: absolute;
    line-height: 100px;
    top: 20px;
    height: 100px;
    width: 100%;
  }
  .txt{
    margin: 135px auto 0;
    max-width: 90%;
    .gothamMedium(.85em);
  }
  .hover{
    position: absolute;
    top: 300px;
    width: 100%;
    height: 100%;
    color: @blanc;
    padding: 50px 10px 25px 35px;
    opacity: 0;
    .box-sizing(border-box);
    .transition(.3s ease-in-out);
  }
  .quote{
    text-align: left;
    .gothamMedium(1em);
    &:before{
      .fontIcon();
      content: "\e600";
      font-size: 18px;
      opacity: .8;
      line-height: 10px;
    }
    + span{
      text-align: left;
      position: absolute;
      bottom: 25px;
      span{
        display: inline-block;
        vertical-align: middle;
        max-width: 163px;
        margin: 0 0 0 5px;
        .gotham(.85em);
        strong{
          .gothamBold(1.1em);
        }
      }
    }
    img{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.navSliderRef{
  .size(30px);
  color: @vert;
  border: 2px solid;
  line-height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  margin: -17px 0 0;
  &:hover{
    background: @vert;
    color: @blanc;
  }
}
#prev{
  left: -50px;
}
#next{
  right: -50px;
}

.avantages{
  .box-sizing(border-box);
  padding: 0 20px;
  margin: 90px 0 70px;
  li{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 5.6%;
    padding: 0;
    &:first-child{
      margin: 0;
    }
    &:before{
      content: '';
      display: block;
      position: relative;
      margin: 0 auto;
    }
  }
  .accompagnement{
    width: 20%;
    &:before{
      height: 96px;
      width: 106px;
      background: url(../layoutImg/home/accompagnement.png) no-repeat;
    }
  }
  .securite{
    width: 22%;
    &:before{
      height: 121px;
      width: 68px;
      background: url(../layoutImg/home/chateau.png) no-repeat;
    }
  }
  .fiable{
    width: 19%;
    &:before{
      height: 91px;
      width: 94px;
      background: url(../layoutImg/home/w.png) no-repeat;
    }
  }
  .technique{
    width: 22%;
    &:before{
      height: 88px;
      width: 71px;
      background: url(../layoutImg/home/connexion.png) no-repeat;
    }
  }
  h3{
    margin: 35px 0 15px;
  }
  p{
    margin: 0;
  }
}

.logosPresse{
  .box-sizing(border-box);
  padding: 0 95px;
  margin: 60px 0 0;
  li{
    width: 25%;
    display: inline-block;
    padding: 0;
    &:before{
      display: none;
    }
  }
}

/* @group Video */

.embed-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#bloc-video{
  display: block;
  position: relative;
  width: 780px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  .cover-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    //.transition(transform 0.4s ease-in-out);
    .transform-origin(0 100%);
    .bg-cover-video{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../layoutImg/home/cover-video.jpg") no-repeat 50% 50%;
      background-size: 100% auto; 
      background-size: cover;
    }
    .wrapper-zone-txt-cover-video{
      display: table;
      width: 100%;
      height: 100%;
      .zone-txt-cover-video{
        position: relative;
        color: @blanc;
        display: table-cell;
        vertical-align: middle;
        width: 90%;
        p{
          max-width: 410px;
          width: 95%;
          margin: 0 auto;
        }
        a{
          margin: 20px auto 0 auto;
        }
      }
    }
    &.open{
      //.transform(rotate3d(0, 0, 1, -45deg) translate3d(0, -22em, 0));
    }
  }
}

/* @end */

/* @end */

.none{
  display: none;
}

/* @group clearfix */

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}

/* @end */

@import "mediaqueries.less";