@import "style.less";

@txt: #4f4f4f;

@bleuMenu: #07394d;
@bleuHeader: #0d5c7b;
@grisH2: #959595;
@bleuH3: #1c698d;
@bleuTitresMenu: #67b7d6;

@grisBorder: #d8d8d8;

html,
button,
input,
select,
textarea {
  color: @txt;
}

img{
  height: auto;
  max-width: 100%;
}

h1{
  font-size: 1.6em;
  color: @bleuHeader;
  font-weight: 500;
}

h2, .h2, h3, .h3, h4{
  font-weight: 500;
}

h2, .h2{
  color: @grisH2;
  text-transform: uppercase;
  font-size: .95em;
}

h3, .h3, h4, h4 a{
  color: @bleuH3;
}
h4 a{
  border: 0;
  &:hover, &:focus{
    color: @grisH2;
  }
}

h3, .h3{
  font-size: 1.2em;
}

h4{
  font-size: 1.05em;
}

.subtitle{
  margin: 40px auto 0;
  color: @grisH2;
  font-size: 1.3em;
}

.content{
  &.main{
    padding-top: 35px;
  }
}

#container{
  margin: 0 0 0 310px;
  position: relative;
  z-index: 2;
}

.wrapper{
  .no-mobile &{
    margin: 0 auto 220px;
  }
}

#bg-blanc{
  .transform(skew(0deg, -4deg));
}

.cat{
  font-weight: 500;
  margin: 0 0 5px;
  display: inline-block;
  &.jaune{
    color: @jaune;
    border-color: @jaune;
  }
  &.rouge{
    color: @rouge;
    border-color: @rouge;
  }
  &:hover, &:focus{
    color: @bleuLien !important;
    border-color: @bleuLien !important;
  }
}


/* HEADER */

#header{
  background: @bleuMenu;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  padding: 30px 55px;
  .box-sizing(border-box);
  .transform(translateZ(0));
  .transition(left .3s ease-in-out);
  &.menuVisible{
    left: 0;
  }
}

#logo{
  width: 200px;
  height: 55px;
  background: url(../layoutImg/success/logo.png) no-repeat;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 auto 100px;
  border: 0;
}

#burger{
  position: absolute;
  left: 280px;
  background: @bleuHeader;
  border: 5px solid @bleuHeader;
  width: 38px;
  height: 30px;
  top: 30px;
  .b{
    background: #fff;
  }
  &.actif{
    background: none;
    border-color: transparent;
  }
}

.menuSuccess{
  li{
    padding: 0;
    &:before{
      display: none;
    }
  }
  .hasSubMenu{
    margin: 0 0 30px;
  }
  a, span{
    color: #fff;
    display: inline-block;
    border: 0;
    font-weight: 500; 
    line-height: 1.5em;
  }
  span{
    margin: 0 0 5px;
    text-transform: uppercase;
    color: @bleuTitresMenu;
  }
  .sub-menu{
    a{
      &:hover, &:focus{
        color: #cdd7db;
        padding: 0 0 0 5px;
      }
    }
  }
}

.contactHeader{
  position: absolute;
  bottom: 30px;
  span, a{
    color: #fff;
    font-size: .8em;
  }
  a{
    border-color: #fff;
    &:hover, &:focus{
      color: #cdd7db;
      border-color: #cdd7db;
    }
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin: auto;
    height: 1px;
    width: 180px;
    background: @bleuTitresMenu;
    .transform(rotate(-3deg));
    .backface-visibility(hidden);
  }
  &:after{
    .fontIcon();
    content: "\e61a";
    width: 35px;
    background: @bleuMenu;
    color: @bleuTitresMenu;
    position: absolute;
    top: -47px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
}

#connectHeader{
  background: @bleuHeader;
  padding: 27px 35px;
  position: relative;
  z-index: 1;
}

.secondMenu{
  float: right;
  a{
    color: #fff;
    &:hover, &:focus{
      color: #cdd7db;
    }
  }
}

#searchform{
  width: 250px;
  display: inline-block;
  position: relative;
  input{
    .box-sizing(border-box);
    border-radius: 20px;
    font-weight: 500;
    .placeholder(@bleuHeader);
    &:focus{
      border-color: @bleuTitresMenu;
    }
  }
}
#search{
  .fontIcon();
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  color: #68717d;
  font-size: 16px;
}

.connectMenu{
  display: inline-block;
  padding: 7px 60px 0 0;
  position: relative;
  &:after{
    content: '';
    width: 1px;
    height: 17px;
    background: #fff;
    display: block;
    position: absolute;
    top: 9px;
    right: 30px;
  }
  li{
    display: inline-block;
    padding: 0 15px;
    &:first-child{
      padding: 0 60px 0 0;
      position: relative;
      &:after{
        &:extend(.connectMenu:after);
        top: 2px;
        right: 20px;
      }
    }
    &:before{
      display: none;
    }
  }
  a{
    display: inline-block;
    border-color: #fff;
    font-size: .95em;
    font-weight: 500;
    &:hover, &:focus{
      border-color: #cdd7db;
    }
  }
}

.lang{
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  li{
    display: inline-block;
    padding: 0;
    &:before{
      display: none;
    }
  }
  .no-mobile &{
    &:hover{
      width: 60px;
      padding: 0;
    }
  }
}


.rsFooter{
  background: #f1f3f4;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 150%;
    background: #f1f3f4;
    .transform(rotate(-4deg));
    z-index: -1;
    height: 125px;
    top: -50px;
    left: -20%;
  }
  .no-mobile &{
    padding: 0 0 0 310px;
    .box-sizing(border-box);
    visibility: visible;
    .home &{
      visibility: hidden;
    }
  }
  ul{
    background: #f1f3f4;
    padding: 0 10px;
    &:before{
      .transform(rotate(-4deg));
    }
  }
}


/* ENTETE */

.head{
  margin-top: -90px;
}

.headHome{
  #bgHead{
    background-image: url(../layoutImg/success/headHome@2.jpg);
    background-position: 50% 100%;
    background-size: 100%;
  }
  .no-mobile &{
    .content.main{
      padding: 42vh 20px 150px;
    }
  }
  p{
    color: #fff;
    text-align: center;
  }
  .btnFull{
    margin: 0 auto;
  }
  &:before{
    right: 0;
    bottom: -60px;
    height: 170px;
    background: fade(@rose, 60);
    .transform(rotate(9deg));
  }
}


/* HOME */

.home, .page-template-faq{
  .lienVert{
    position: relative;
    &:before{
      content: '›';
      position: absolute;
      left: -10px;
      .transition(.2s ease-in-out);
    }
    &:hover, &:focus{
      &:before{
        left: -7px;
        .transition(.2s ease-in-out);
      }
    }
  }
}

.ressources, .list-post{
  text-align: center;
  li{
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 0 0 5%;
    &:before{
      display: none;
    }
    &:first-child{
      margin: 0;
    }
  }
  .btnLight{
    width: 185px;
  }
}

.page-template-ressources{
  .list-post{
    padding: 60px 0 0;
    text-align: left;
    li{
      text-align: center;
    }
  }
}

.ressources{
  article{
    border: 1px solid @grisBorder;
    padding: 40px 35px;
    position: relative;
    background: url(../layoutImg/success/corner.png) no-repeat 101% 0;
    &:before, &:after{
      content: '';
      position: absolute;
      top: -1px;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:before{
      right: -1px;
      border-width: 0 25px 35px 0;
      border-color: transparent #fff transparent transparent;
    }
    &:after{
      right: 8px;
      border-width: 25px 0 0 17px;
      border-color: transparent transparent transparent @grisBorder;
    }
    p{
      margin: .5em auto 2.5em;
    }
  }
  div{
    p, h4{
      margin: 0;
    }
    &:after{
      content: '';
      display: block;
      width: 66px;
      height: 2px;
      background: @grisBorder;
      margin: 25px auto;
    }
  }
  .date{
    display: block;
    margin: 0 0 25px;
  }
}

.videoTitle, .agendaTitle, .docTitle{
  &:before{
    .fontIcon();
    display: block;
    margin: 0 auto 10px;
    font-size: 32px;
    .page-template-ressources &{
      font-size: 35px;
    }
  }
}
.agendaTitle:before {
  content: "\e61c";
}
.docTitle:before {
  content: "\e61d";
}
.videoTitle:before {
  content: "\e61e";
}

.questions{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  .box-sizing(border-box);
  padding: 60px 0 0 50px;
  &:first-child{
    padding: 60px 50px 0 0;
  }
  h2{
    margin: 0;
    &:before{
      content: "\e61b";
      .fontIcon();
      margin: 0 auto 10px;
      display: block;
      font-size: 24px;
      color: @grisH2;
    }
    &:after{
      content: '';
      width: 75px;
      height: 2px;
      display: block;
      background: @grisBorder;
      margin: 30px auto;
    }
  }
  ul{
    text-align: center;
    padding: 0 0 15px;
  }
  li{
    padding: 0 0 15px;
    &:before{
      display: none;
    }
    a{
      border: 0;
      font-weight: 500;
      color: @bleu;
      font-size: 1.05em;
      &:hover, &:focus{
        color: @bleuLien;
      }
    }
  }
  .page-template-faq &{
    width: 100%;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    padding: 60px 0 0;
    h2{
      &:before{
        display: none;
      }
    }
  }
}

.page-template-faq{
  h1{
    &:before{
      content: "\e61b";
      .fontIcon();
      margin: 0 auto 10px;
      display: block;
      font-size: 35px;
    }
  }
}

.formateurs{
  margin: 70px auto 0;
  h2{
    &:extend(h3);
    text-transform: none;
    margin-top: 35px;
  }
}

.filtres{
  margin: 35px 0 0;
  text-align: center;
  li{
    padding: 10px 20px 0;
    display: inline-block;
    &:before{
      display: none;
    }
  }
  a{
    display: inline-block;
    padding: 4px 20px;
    border: 1px solid;
    border-radius: 4px;
    &:hover, &:focus, &.actif{
      color: #fff !important;
    }
    &.rouge{
      color: @rouge;
      border-color: @rouge;
      &:hover, &:focus, &.actif{
        background: @rouge;
      }
    }
    &.jaune{
      color: @jaune;
      border-color: @jaune;
      &:hover, &:focus, &.actif{
        background: @jaune;
      }
    }
    &.bleu{
      color: @bleu;
      border-color: @bleu;
      &:hover, &:focus, &.actif{
        background: @bleu;
      }
    }
    &.rose{
      color: @rose;
      border-color: @rose;
      &:hover, &:focus, &.actif{
        background: @rose;
      }
    }
    &.vert{
      color: @vert;
      border-color: @vert;
      &:hover, &:focus, &.actif{
        background: @vert;
      }
    }
  }
}

.filtre{
  &:extend(.filtres a);
  color: #fff;
  &:hover, &:focus{
    background: #fff !important;
  }
  &.rouge{
    background: @rouge;
    border-color: @rouge;
    &:hover, &:focus{
      color: @rouge;
    }
  }
  &.jaune{
    background: @jaune;
    border-color: @jaune;
    &:hover, &:focus{
      color: @jaune;
    }
  }
  &.bleu{
    background: @bleu;
    border-color: @bleu;
    &:hover, &:focus{
      color: @bleu;
    }
  }
  &.rose{
    background: @rose;
    border-color: @rose;
    &:hover, &:focus{
      color: @rose;
    }
  }
  &.vert{
    background: @vert;
    border-color: @vert;
    &:hover, &:focus{
      color: @vert;
    }
  }
}


@import "_mediaqueries.less";
@import "_mediaqueries-success.less";